header{
    background-color: orange;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.card{
    width: 32%; /* vedere se si puo fare con vw */
    margin-bottom: 5%;
}

.card > img{
    width: 100%;
}

.tagContainer{
    left: 0;
    bottom: 20%;
}

.favorite{
    background-color: white;
    padding: 5%;
    right: 0;
    top: 10%;
}